# Spam data

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## test sample

In [61]:
df_spam=pd.read_csv("spam_test.csv", encoding='ISO-8859-1')

In [62]:
df_spam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    55 non-null     object
 1   label   55 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1008.0+ bytes

In [63]:
df_spam["id"]=df_spam.index

In [64]:
df_spam.head(5)

                                                text  label  id
0  Exclusive VIP access: Pre-sale tickets for Mar...      0   0
1  Operative Echo, mission abort. Compromised ass...      1   1
2  Sis, mum asking if you're coming for dinner. S...      1   2
3  Hi Lisa, I've reviewed your proposal for the A...      1   3
4  LinkedIn: Jon Smith has endorsed you for 'Proj...      1   4

In [65]:
df_spam["sentence"]=df_spam["text"]

In [66]:
df_spam.drop("text",axis=1, inplace=True)

In [67]:
df_spam.head(3)

   label  id                                           sentence
0      0   0  Exclusive VIP access: Pre-sale tickets for Mar...
1      1   1  Operative Echo, mission abort. Compromised ass...
2      1   2  Sis, mum asking if you're coming for dinner. S...

In [68]:
df_spam.shape

(55, 3)

In [69]:
df_spam.to_csv('validation_data.csv', index=False)

## train sample

In [70]:
df_spam_train=pd.read_csv("spam_train.csv", encoding='ISO-8859-1')

In [71]:
df_spam_train["id"]=df_spam_train.index

In [72]:
df_spam_train["sentence"]=df_spam_train["text"]

In [73]:
df_spam_train.drop("text",axis=1, inplace=True)

In [74]:
df_spam_train.head(3)

   label  id                                           sentence
0      0   0  Unusual trading pattern detected in your portf...
1      0   1  Alert: Unusual activity on your OCBC card. Ver...
2      0   2  ALERT: Your Singtel line will be terminated du...

In [75]:
df_spam_train.to_csv('df.csv', index=False)